.price.up {
  animation: flashGreen 0.3s;
}

.price.down {
  animation: flashRed 0.3s;
}

.watchlist-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.search-container {
  padding: 10px;
  background: white;
  z-index: 2;
}

.watchlist-scroll {
  flex: 1;
  overflow-y: auto;
}

.watchlist-scroll::-webkit-scrollbar {
  width: 6px;
}

.watchlist-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.chart-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  background: #f8fafc;
}

@keyframes flashGreen {
  0% {
    background: rgba(0, 255, 0, 0.2);
  }
  100% {
    background: transparent;
  }
}

@keyframes flashRed {
  0% {
    background: rgba(255, 0, 0, 0.2);
  }
  100% {
    background: transparent;
  }
}
