.price.up {
  animation: flashGreen 0.3s;
}

.price.down {
  animation: flashRed 0.3s;
}

@keyframes flashGreen {
  0% {
    background: rgba(0, 255, 0, 0.2);
  }
  100% {
    background: transparent;
  }
}

@keyframes flashRed {
  0% {
    background: rgba(255, 0, 0, 0.2);
  }
  100% {
    background: transparent;
  }
}
